@import "../../assets/scss/index.scss";

.day-card {
  width: 35rem;

  &__header-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  &__event-title {
    font-size: 2.25rem;
    margin-bottom: 1rem;
  }
  
  &__subtitle {
    font-size: 1.125rem;
    color: #727272;
    margin-bottom: 1rem;
  }
  
  &__days-text {
    font-weight: bold;
    display: block;
    background-color: $white;
    font-size: 4rem;
  }
}

.subtitle-section {
  display: flex;
}

.primary-bg-color {
  background-color: $primary;
}

.secondary-bg-color {
  background-color: $secondary;
}